<h5>Dimensions</h5>
{{model.element.name}} | 
{{#if model.parent}}
  {{link-to "parent" 'discoverable-taxonomy-set.role-type.presentation-node.dimension-node' model.parent}} 
{{else}} 
  {{link-to "parent" 'discoverable-taxonomy-set.role-type.presentation-node'}}
{{/if}}
{{outlet}}