<h5>Dimensions</h5>
{{link-to model.element.name 'discoverable-taxonomy-set.role-type.presentation-node.dimension-node.element' model.element}} | 
{{#if model.parent}}
  {{link-to "parent" 'discoverable-taxonomy-set.role-type.presentation-node.dimension-node' model.parent}} 
{{else}} 
  {{link-to "parent" 'discoverable-taxonomy-set.role-type.presentation-node'}}
{{/if}}
 ({{model.arcrole}})
{{outlet}}